body {
    margin: 0;
    padding: 0;
    font-family: verdana, arial, helvetica, sans-serif;
    color: black;
    background-color: white;
}

p {
    font-family: verdana, arial, helvetica, sans-serif;
    margin: 0 0 1em 0;
    padding: 0.5ex 0;
    text-align: justify;
}

#Content > p {
    text-indent: 1em;
    margin: 0;
}

#Content > p + p {
    text-indent: 1em;
}

h1 {
    font-size: x-large;
    margin-bottom: 1ex
}

h2 {
    font-size: large;
    margin-bottom: 0.5ex
}

li {
    margin-bottom: 1ex
}

a {
    font-family: verdana, arial, helvetica, sans-serif;
    text-decoration: none;
}

a.subtitle {
    padding: 0em 0em 0em 1em;
    font-size: smaller;
}

a:hover {
    background-color: #fff;
}

a.nohover:hover {
    background-color: #eee;
}

.title {
    font-weight: bold;
}

#Content {
    margin: 0 50px 2em 20px;
    padding: 10px;
}

#Header {
    font-weight: 600;
    font-size: x-large;
    margin: 20px 0 10px 0;
    padding: 0.3ex 0 0.3ex 20px;
    background-color: white;
    height: 100%;
}
